.fieldContainer {
	height: 120px;
}

.label {
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 12px;
	color: white;
	font-size: 18px;
	font-weight: 200;
}

.input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid white;
	padding: 10px 15px;
	margin-bottom: 5px;
	font-size: 14px;
	opacity: 0.85;
}

input:focus {
	opacity: 1;
}

.errorMessage {
	color: #bf1650;
	margin-left: 4px;
}
