.calcContainer {
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.calc {
	width: 600px;
	border-radius: 10px;
	background: #333;
	padding: 20px;

	display: flex;
	flex-direction: column;
}

.screen {
	min-height: 70px;
	background-color: #444;
	color: #fff;
	font-size: 50px;
	padding: 10px 20px;
	text-align: right;
	border-radius: 10px;
}

.screenResult {
	color: lightgreen;
}

.buttonsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px;
}

.btn {
	margin: 10px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;

	font-size: 25px;
	box-shadow: 2px 3px 2px #333;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	box-shadow: 1px 1px 2px #333;
}

.number {
	background-color: #eee;
}

.operator {
	background-color: coral;
	color: #eee;
}
.result {
	background-color: lightblue;
}

.reset {
	background-color: crimson;
	color: #eee;
	grid-column: 1 / -1;
}

.operator,
.result,
.reset {
	margin-top: 40px;
}
